.feature-icon-container {
  display: none;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

@media screen and (max-width: 1157px) {
  .feature-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
  .feature-description {
    font-weight: 500;
  }
}

@media screen and (max-width: 767px) {
  .feature-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .feature-item {
    min-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .feature-item {
    min-width: 0;
    flex-basis: calc((100% - 72px) / 4);
  }

  .feature-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }

  .feature-icons {
    fill: #fff;
  }
}
